body{
  background-color: #f3f3f3;
}

header{
  padding: 12px 25px;
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-bottom: 80px;
  .logo{
    @media (max-width: $screen-xs-max){
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .dropdown{
    cursor: pointer;
    .dropdown-toggle{
      img{
        border-radius: 50%;
        margin-right: 15px;
        width: 50px;
      }
      span{
        color: $gray-8;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-right: 5px;
      }
      i{
        color: $gray-8;
      }
    }
  }
  .menu{
    position: relative;
    top: 6px;
    a:first-child{
      margin-right: 40px;
      color: $gray-8;
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 500;
      &:hover{
        text-decoration: none;
        color: $gray-8;
      }
    }
    @media (max-width: $screen-xs-max){
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.main-content {
  position: relative;
  top: 74px;
  margin-bottom: 50px;
}

.content{
  padding: 50px;
}