.external_activities-show{
  .external_activity-description{
    font-family: 'Raleway', sans-serif;
    color: $gray-light;
    font-weight: 500;
    font-size: 18px;
    span{
      background-color: #543c75;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      padding: 3px 15px;
      border-radius: 1000px;
      margin-right: 5px;
    }
  }
  .external_activity-feedback{
    border: solid 1px $main-purple;
    .feedback-title{
      background-color: $main-purple;
      color: $white;
      font-weight: 700;
      text-transform: uppercase;
      padding: 5px;
      font-size: 16px;
    }
    .grade{
      font-family: 'Raleway', sans-serif;
      color: $gray-light;
      font-weight: 500;
      margin-left: 10px;
      span{
        background-color: #543c75;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        padding: 3px 15px;
        border-radius: 1000px;
        margin-right: 5px;
      }
    }
    .feedback{
      font-family: 'Raleway', sans-serif;
      color: $gray-light;
      font-weight: 500;
      margin-left: 10px;
    }
  }
  .info{
    font-family: 'Raleway', sans-serif;
    color: $gray-light;
    font-weight: 500;
  }
}

.external_activities-evaluation{
  .write-feedback{
    font-family: 'Raleway', sans-serif;
    color: $gray-light;
    font-weight: 500;
    &:hover, &:focus{
      text-decoration: none;
      color: $gray-light;
    }
  }
  .info{
    font-family: 'Raleway', sans-serif;
    color: $gray-light;
    font-weight: 500;
  }
}