// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions-new{
  .img-form-login{
    max-width: 90%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
  }
  form{
    padding: 50px;
    .form-footer{
      margin-top: 30px;
    }
  }
}