<div class="menu">
  <%= link_to('Entrar', login_path) %>
  <%= link_to('Cadastrar-se', signup_path, 'class': 'btn btn-inverse') %>
</div>
<div class="logo">
  <div class="vcenter">
    <div class="inner-vcenter">
      <%= image_tag('logo_inverse.png', alt: 'Khoeus Logo') %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur sem at nunc consequat pretium. Vestibulum interdum mi nec dictum molestie. In suscipit arcu erat, eu accumsan libero semper imperdiet. Etiam venenatis dictum lorem et dignissim. </p>
    </div>
  </div>
</div>