*{
  outline: none;
}

a:hover, a:focus, a:active{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.alert.alert-notice{
  @extend .alert-success;
  margin-top: 30px;
  margin-bottom: 0;
}