$white: #ffffff;
$black: #000000;

$gray-4: #444444;
$gray-8: #888888;
$gray-a: #aaaaaa;

$main-purple: #543c75;
$main-darkpurple: #3f2e59;

$main-yellow: #fcb71e;
$main-darkyellow: #d9972e;

$gray-medium-light: #eaeaea;