<% provide(:title, 'Logs') %>

<section class="card content">
  <table class="table table-striped table-hover table-bordered">
    <tbody>
    <% for log in @logs %>
        <tr>
          <td>
            <%= link_to User.find(log.user).name, User.find(log.user) %>
            <%= "has #{log.action}"%>
            <% if log.subject_id %>
                <%= link_to subject_name(log), subject_object(log) %>
            <% elsif log.subject %>
                <%= log.subject %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</section>

