<% for log in @logs %>
  <p>
    <%= "#{ User.find(log.user).name } has #{log.action}"%>
    <% if log.subject_id %>
        <%= link_to subject_name(log), subject_object(log) %>
    <% elsif log.subject %>
        <%= log.subject %>
    <% end %>
  </p>
<% end %>